.add-button {
    position: fixed;
    bottom: 60px;
    width: 25px;
    right: 12px;
    height: 30px;
    border-radius: 50%;
}

#logout-button {
    position: fixed;
    bottom: 57px;
    width: 364px;
    left: 5px;
}